$orange: #FCB82B;
$font-color: #2A2A2A;
$sb-color: #fff;
$green: #405E2D;

/*ブレイクポイント*/
$breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
* {
  box-sizing: border-box;
}

/*共通buttonの実装*/
.button {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  z-index: 2;
  // background-color: $green;
  // border: 2px solid $sb-color;
  // color: $sb-color;
  line-height: 50px;
  overflow: hidden;
  
  &::before,
  &::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
  }
  &,
  &::before,
  &::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

  &:hover {
    color: $green;
  }
  &::after {
   
    left: -100%;
    width: 100%;
    height: 100%;
  }
  &:hover::after {
    top: 0;
    left: 0;
    background-color: $sb-color;
  }
  &:not(hover)::after {
    top: 0;
    right: 0;
    background-color: $green;
  }

  &--wrap {
    padding-left: 64px;
    @include mq() {
      max-width: 400px;
      padding-left: 0;
      text-align: center;
    }
}
}
/*ここまで*/
body {
  max-width: 1280px;
  font-family: 游ゴシック;
  margin: 0 auto;
}
.header {
  width: 100%;
  
  &__nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
    width: 95%;
    top: 0;
    @include mq() {
      width: 100%;
      background: $sb-color;
    }
    /*nav btn*/
    &-btn {
      background-color: $green;
      border: 2px solid $sb-color;
      color: $sb-color;
      &:hover {
        color: $green;
      }
      &:hover::after {
        background-color: $sb-color;
      }
      &:not(hover)::after {
        top: 0;
        right: 0;
        background-color: $green;
      }
    
      &--wrap {
        padding-left: 64px;
        @include mq() {
          max-width: 400px;
          padding-left: 0;
          text-align: center;
        }
    }
  }
  &-title--sp {
    display: none;
    @include mq() {
      display: block;
    font-size: 32px;
    font-family: 'Didact Gothic', sans-serif;
    color: #696969;
    padding: 10px 4px 9px 18px;
    }
  }
  }
  &__contact {
    width: 120px;
    height: 80px;
    background: $orange;
    display: grid;
    place-items: center;
    margin-left: 40px;
    @include mq() {
      width: 24%;
      height: 60px;
    }
    &--link {
      font-size: 13px;
      color: $sb-color;
      display: block;
      text-decoration: none;
    }
    &--icon {
      width: 42.28px;
      height: 27.99px;
      display: grid;
      place-items: center;
      color: $sb-color;
      @include mq() {
        width: 67%;
        height: 90%;
        display: block;
        margin: 0 auto;
      }
    }
    &--txt {
      padding-top: 8px;
      @include mq() {
       font-size: 13px;
      }
    }
  }
  &__nav-menu {
    overflow-x: hidden;
    position: relative;
    background: $green;
    width: 120px;
    height: 80px;
    display: grid;
    place-items: center;
    @include mq() {
      width: 24%;
      height: 60px;
    }
    &-trigger {
      display: inline-block;
      width: 36px;
      height: 28px;
      vertical-align: middle;
      cursor: pointer;
      position: absolute;
      top: 17px;
      z-index: 100;
      @include mq() {
        width: 30px;
        height: 21px;
       }

      & span {
        display: inline-block;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        transition: all .5s;
        @include mq() {
          height: 3px;
         }
      }
      &.active span {
        background-color: #fff;
      }
      & span:nth-of-type(1) {
      top: 0;
      @include mq() {
        top: -8px;
       }
    }
      &.active span:nth-of-type(1) {
        transform: translateY(12px) rotate(-45deg);
      }
      & span:nth-of-type(2) {
        top: 12px;
        @include mq() {
          top: 3px;
         }
      }
      &.active span:nth-of-type(2) {
        opacity: 0;
      }
      & span:nth-of-type(3) {
        bottom: 0;
        @include mq() {
          bottom: 3px;
         }
      }
      &.active span:nth-of-type(3) {
        transform: translateY(-12px) rotate(45deg);
        
      }
  }
  }
  &__nav--txt {
    color: $sb-color;
    font-size: 13px;
    padding-top: 33px;
    
    &-change {
      color: $sb-color;
      &.active {
        z-index:100;
        position: relative;
      }
    }
  }
  
}
.nav-content {
  &__overlay {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s;
    &.open {
      width: 100%;
      height: 100vh;
      opacity: 1;
      @include mq() {
        display: none;
      }
    }
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    @include mq() {
      max-width: 400px;
    }
  }
  &__item {
    text-align: left;
    padding: 0 0 40px 64px;
    @include mq() {
      padding: 0 0 40px 0;
      text-align: center;
    }
    & a {
      text-decoration:none;
      color: $sb-color;
    }
  }
  &--inner {
    width: 550px;
    height: 100%;
    padding-top: 100px;
    background-color: $green;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translate(550px);
    transition: all .5s;
    @include mq() {
      width: 100%;
      transform: translate(100%);
    }
    &.open {
      transform: translateZ(0);
    }
  }
  &__icon {
  text-align: right;
  padding: 23px 48px 0 0;
}
    &-img {
      color: $sb-color;
      font-size: 32px;
    }
    
}

main {
  margin-top: 190px;
  @include mq() {
    margin-top: 60px;
   }
}
.top-main {
  background: url(../img/top-main@2x.png) no-repeat left/cover;
  background-size: 1000px auto;
  height: 530px;
  position: relative;

  @include mq() {
    background: url(../img/top-main__sp.png) no-repeat center center/cover;
    height: 752px;
  }
  &__title {
    background: rgba(255,255,255, .6);
    color: #696969;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 64px;
    padding: 10px;
    font-weight: bold;
    @include mq() {
      width: 287px;
    font-size: 55px;
    text-align: center;
    }
    &-wrap {
      position: absolute;
      top: 183px;
      right: 64px;
      @include mq() {
        top: 300px;
        right: 50%;
        transform: translateX(50%);
      }
    }
  }
  &__txt {
    color:#2A2A2A;
    background: rgba(255,255,255, .6);
    font-size: 16px;
    margin-top: 16px;
    padding: 5px;
    @include mq() {
      width: 287px;
      text-align: center;
    }
  }
  &__scroll {
    &-wrap {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 152px;
    text-align: center;
    padding-bottom: 6.7px;
    }
  }
 
}
/*メインタイトル改行*/
.sp-br {
  display: none;
  @include mq() {
    display: block;
  }
}
/*コミュニティについて*/
.about {
  &__wrap {
  color: $font-color;
  text-align: center;
  padding-top: 160px;
    @include mq() {
      padding-top: 100px;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    &--sub {
      font-size: 16px;
      padding-top: 5px;
    }
    &--img {
      width: 257.68px;
      height: 62.24px;
      padding-right: 60px;
      position: relative;
      top:-11px;
    }
  }
  &__txt {
    font-size: 16px;
    padding-top: 59.76px;
    margin: 0 328px;
    line-height: 1.5;
    @include mq() {
      margin: 0 18px;
      font-size: 15px;
      text-align: left;
    }
    & a {
     color: $font-color;
    }
  }
}
/*PCだけ改行*/
.pc-br {
  @include mq() {
    display: none;
  }
}
/*私たちにできること*/
.service {
  &__wrap {
    @extend .about__wrap;
    background: linear-gradient(180deg, $sb-color 0%, $sb-color 50%, #FDEC01 50%, #FDEC01 100%);
    @include mq() {
      background: linear-gradient(180deg, $sb-color 0%, $sb-color 20%, #FDEC01 0, #FDEC01 100%);
    }
  }
  &__title {
    @extend .about__title;
    &--sub {
    @extend .about__title--sub;
    }
    &--img {
      @extend .about__title--img;
    }
  }
      &__list {
        display: flex;
        justify-content: space-between;
        padding-top: 55.76px;
        margin: 0 64px;
        @include mq() {
          display: block;
          margin: 0 18px;
          padding-top: 40px;
        }
      }
      &__item {
        width: 345px;
        background: #FCB82B;
        color: $sb-color;
        @include mq() {
          margin-bottom: 20px;
          width: 100%;
        }
        &-icon {
          width: 150px;
          height: 150px;
          padding-top: 56px;
        }
        &-title {
          font-size: 20px;
          padding-top: 19px;
          font-weight: bold;
          &::after {
            content: "";
              display: block;
              background: $sb-color;
              width: 65px;
              height: 1px;
              position: relative;
              top: 20px;
              left: 50%;
              transform: translateX(-50%);
          }
        }
        &-txt {
          font-size: 16px;
          line-height: 1.5;
          padding: 47px 42px 32px;
          text-align: left;
        }
      }
      &__btn {
        border: 1px solid $font-color;
        display: block;
        text-decoration: none;
        color: $font-color;
        background-color:#FDEC01;
        color: $green;
        width: 250px;
        height: 60px;
        line-height: 60px;
        z-index: 0;
        &:first-of-type {
          margin-bottom: 41px;
        }
        &:hover {
          color: $sb-color;
        }
      &:hover::after {
        background-color: $font-color;
      }
      &:not(hover)::after {
        top: 0;
        right: 0;
        background-color: #fDEC01;
      }
    &--wrap {
          padding: 80px 515px;
          @include mq() {
            padding: 80px 62px;
          }
        }
      }
  }
          
        

/*お問い合わせ*/
.contact {
    &__wrap {
      @extend .about__wrap;
    }
    &__title {
      @extend .about__title;
    &--sub {
    @extend .about__title--sub;
    }
    &--img {
      @extend .about__title--img;
    }
  } 
  &__txt {
    padding-top: 60px;
    line-height: 1.5;
    font-size: 16px;
    color: $font-color;
    @include mq() {
      padding-top: 40px;
      font-size: 15px;
      margin: 0 18px;
      text-align: left;
    }
  }
  &__btn {
    @extend .service__btn;
    background: $sb-color;
    font-size: 16px;
    &:not(hover)::after {
      background-color: $sb-color;
    }
    &--wrap {
      padding: 70px 515px;
      @include mq() {
        padding: 59px 62px;
      }
    }
  }
}
.footer {
  background: $green;
  color: $sb-color;
  display: flex;
  justify-content: space-between;
  position: relative;
  @include mq() {
    display: block;
    text-align: center;
  }
  &::before {
    content: "";
      position: absolute;
      right: 0;
      top: -7rem;
      left: 0;
      width: 0px;
      height: 0px;
      margin: auto;
      border-style: solid;
      border-color: transparent transparent $green transparent ;
      border-width: 60px 110px;
  }
  &-left__title {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 28px;
    padding: 19px 0 46px 64px;
    font-weight: bold;
    @include mq() {
      padding: 0;
      padding-top: 41px;
      }
    }
  
  &-right {
    &__menu {
    padding: 26px 30px 13px 0;
    @include mq() {
      padding: 0;
      padding-bottom: 40px;
      }
    &-item {
      padding-right: 34px;
      color: $sb-color;
      text-decoration: none;
      font-size: 14px;
      font-family: Segoe UI;
      @include mq() {
        display: block;
        padding-right: 0;
        padding-top: 22px;
        &:first-of-type {
          padding-top: 40px;
        }
        
        }
    }
  }
  &__foot-txt {
    padding: 0 64px 26px 0;
    text-align: right;
    font-size: 12px;
  }
  @include mq() {
    
  }
}
&__outer {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 13px;
  & a {
    color: $sb-color;
    text-decoration: none;
  }
}
}
